<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pyBRos Data Analysis software</title>
</head>
<body>

<header>

    <menu>
        <item>
            <a href="./user/">Usuários</a>
        </item>
        <item>Dashboards</item>
<!--        <item>Episódios</item>-->
    </menu>

</header>

<div>

    <h1>pyBRos - Data Analysis software</h1>

    <p>Bem vindo ao projeto didático para análise de dados utilizando o framework flask junto
        a ferramenta ORM SQLAlchemy.
    </p>

</div>


<footer>
    <p>{{ now }}</p>
</footer>

</body>
</html>